YDB_ENDPOINT_SECRET_ID=e6qkk6mjsbqg271887ha
YDB_DATABASE_SECRET_ID=e6q9gv19u9o1987786le
SEARCH_INDEX_ID=fvthf4vtg4l1e1vmca9g
AGENT_ID=fvt299r9451u2cn3m9r7
MCP_YDB_TICKETS_URL=https://db8n58h8d9ghuo3jmpv7.gs2td6d8.mcpgw.serverless.yandexcloud.net/sse
